<div class="holder center-align">
    <p>This is the partial for view 2.</p>
    <p>
        Showing of 'interpolate' filter: {{accessLevel}}
        {{ 'Current version is v%VERSION%.' | interpolate }}
    </p>
</div>

<div class="holder">
  <div class="btn-block buttons-universal-block center-align">
    <button ng-click="view2.showConsoleInfo(view2.base)" class="btn btn-primary">Show Base</button>
    <button ng-click="view2.showConsoleInfo(view2.oneClient)" class="btn btn-primary">Show One Client</button>
  </div>

  <div class="container clients-table" ng-if="view2.base">
      <table class="table">
          <thead class="header">
              <tr>
                  <th class="center-align">#</th>
                  <th class="center-align">Client</th>
                  <th class="center-align">Phone No.</th>
                  <th class="center-align">email</th>
                  <th class="center-align">Company</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="row in view2.base" ng-click="view2.oneClientDetails(row)">
                  <td>{{$index+1}}</td>
                  <td>{{row.firstName}} {{row.lastName}}</td>
                  <td>{{row.phone}}</td>
                  <td>{{row.email}}</td>
                  <td>{{row.company}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<div class="holder">
    <a class="back-to-top" href="#">
    <span class="fa-stack">
        <i class="fa fa-arrow-up"></i>
    </span>
    </a>
</div>