<div class="ngdialog-theme-default oneClient-dialog">
    <div class="header center-align">
        <span>Client Details</span>
    </div>
    <div class="ngdialog-content">
        <input class="ngdialog-input" placeholder="First Name" ng-model="oneRow.firstName" required>
        <input class="ngdialog-input" placeholder="Last Name" ng-model="oneRow.lastName" required>
        <input class="ngdialog-input" placeholder="Phone" ng-model="oneRow.phone" required>
        <input class="ngdialog-input" placeholder="e-mail" ng-model="oneRow.email" required>
        <input class="ngdialog-input" placeholder="Address" ng-model="oneRow.address" required>
        <input class="ngdialog-input" placeholder="Company" ng-model="oneRow.company" required>
        <textarea class="ngdialog-input" placeholder="Description" ng-model="oneRow.description">{{oneRow.description}}</textarea>
    </div>
    <div class="btn-group buttons-universal-block">
        <!--<button class="btn btn-default">Discard changes</button>-->
        <button class="btn btn-primary" ng-if="oneRow.id" ng-click="clientUpdate(oneRow)">Save changes</button>
        <button class="btn btn-primary" ng-if="!oneRow.id" ng-click="clientCreate(oneRow)">Save changes</button>
    </div>
</div>